---
---

@import "variables";

.accent {
	color: rgb(176, 156, 253);
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Text area */
textarea, input[type="text"] {
	font-family: "Ubuntu", "Helvetica", "Arial", san-serif;
	font-size: 18px;
	vertical-align: middle;
	border: 0;
	margin: 16px 0;
	width: 100%;
	resize: none;
	
	color: $body-text-color;
	background-image: linear-gradient($body-link-color, $body-link-color), linear-gradient($table-border-color, $table-border-color);
	background-size: 0px 2px, 100% 1px;
	background-repeat: no-repeat;
	background-position: center bottom, center calc(100% - 1px);
	background-color: rgba(0, 0, 0, 0);
	transition: background 0.4s ease-out;

	&:focus {
		background-size: 100% 2px, 100% 1px;
		outline: none;
	}

	&::placeholder {
		color: rgb(100, 100, 100);
	}
}

input[type="datetime-local"], select, .js-Dropdown-title, input[type="color"] {
	font-family: "Ubuntu", "Helvetica", "Arial", san-serif;
	font-size: 18px;
	vertical-align: middle;
	border: 0;
	
	color: $body-text-color;
	background-image: linear-gradient($body-link-color, $body-link-color), linear-gradient($table-border-color, $table-border-color);
	background-size: 0px 2px, 100% 1px;
	background-repeat: no-repeat;
	background-position: center bottom, center calc(100% - 1px);
	background-color: rgba(0, 0, 0, 0);
	transition: background 0.4s ease-out;

	&:focus {
		background-size: 100% 2px, 100% 1px;
		outline: none;
	}
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
	//filter: invert(1);
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

option {
	color: #ccc;
	background-color: rgb(29, 32, 33);
}

/* Range input */
input[type="range"] {
	-webkit-appearance: none;
	height: 8px;
	width: 194px;
	background: rgb(50, 50, 50);
	background-image: linear-gradient($body-link-color, $body-link-color);
	background-repeat: no-repeat;
	
	&:focus {
		outline: none;
	}
}

input[type="range"]::-webkit-slider-runnable-track {
	background: transparent;
	height: 8px;
}
input[type="range"]::-moz-range-track {
	background: transparent;
	height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 8px;
	background: $body-link-color;
	margin-top: -4px;
	border-radius: 0%;
}
input[type="range"]::-moz-range-thumb {
	height: 16px;
	width: 8px;
	background: $body-link-color;
	margin-top: -4px;
	border-radius: 0%;
}

#sliders {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 5px;

		label {
			margin: 3px 0;
		}
	}
}
