.accent {
	color: rgb(103, 234, 169);
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Text area */
textarea {
	font-family: "Ubuntu", "Helvetica", "Arial", san-serif;
	font-size: 18px;
	vertical-align: middle;
	border: 0;
	padding: 32px 0 0;
	margin: 0 0 16px;
	width: 100%;
	resize: none;
	
	color: rgb(238, 238, 238);
	background-image: linear-gradient(rgb(103, 234, 169), rgb(103, 234, 169)), linear-gradient(rgb(150, 150, 150), rgb(150, 150, 150));
	background-size: 0px 2px, 100% 1px;
	background-repeat: no-repeat;
	background-position: center bottom, center calc(100% - 1px);
	background-color: rgba(0, 0, 0, 0);
	transition: background 0.4s ease-out;
}

textarea:focus {
	background-size: 100% 2px, 100% 1px;
	outline: none;
}

textarea::-webkit-input-placeholder {
	color: rgb(50, 50, 50);
}
textarea::-moz-placeholder {
	color: rgb(50, 50, 50);
}
textarea:-ms-input-placeholder {
	color: rgb(50, 50, 50);
}
textarea::placeholder {
	color: rgb(50, 50, 50);
}

/* Range input */
input[type="range"] {
	-webkit-appearance: none;
	height: 8px;
	width: 194px;
	background: rgb(80, 80, 80);
	background-image: linear-gradient(rgb(103, 234, 169), rgb(103, 234, 169));
	background-repeat: no-repeat;
}
input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: transparent;
	height: 8px;
}
input[type="range"]::-moz-range-track {
	background: transparent;
	height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 8px;
	background: rgb(103, 234, 169);
	margin-top: -4px;
	border-radius: 0%;
}
input[type="range"]::-moz-range-thumb {
	height: 16px;
	width: 8px;
	background: rgb(103, 234, 169);
	margin-top: -4px;
	border-radius: 0%;
}

#sliders div {
	display: inline-flex;
	margin: 0 10px 0 0;
}
#sliders div p {
	margin-bottom: 6px;
}







/* Buttons */
.container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

/* Tooltips */
.tooltip {
	position: relative;
	display: inline-flex;
	white-space: nowrap;
}
.tooltip .tooltiptext {
	position: absolute;
	z-index: 2;
	padding: 6px 8px;
	border-radius: 2px;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	color: #fff;
	background: #616161;
	text-align: center;
	transition: transform 0.075s ease;
	transform: translateX(-50%) scale(0.0);
}
.tooltip:hover .tooltiptext {
	transition: transform 0.15s ease;
	transform: translateX(-50%) scale(1.0);
}
.tooltip .top {
	bottom: 105%;
	left: 50%;
	transform: translateX(-50%) scale(0.0);
}
.tooltip .bottom {
	top: 105%;
	left: 50%;
	transform: translateX(-50%) scale(0.0);
}


.tooltip .tooltiptext {
	background: #3BB582;
}
.tooltip .top {
	bottom: 120%;
}
.tooltiptext {
	transform: translateX(-50%) scale(0.0) !important;
}
.tooltiptext.active {
	transform: translateX(-50%) scale(1.0) !important;
}
